/* app css stylesheet */


.listContainer {
    display: flex; 
    width: 100%; 
    border: 1px solid green;
}
.movieTitleWrapper {
    display: flex; 
    flex-flow: row wrap;
}
.movieTileContainer {
    border: 1px solid black; 
    width: 300px; 
    min-height: 350px; 
    margin: 5px 5px 5px 5px
}
.movieRow {
   
}
.posterImg {
    min-width: 150px;
    max-height: 200px;
}

